.box{
    background-color: red;
    border: 2px solid black;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,30vh);
}

@media screen and (max-width:576px) {
    main{
        grid-template-columns: repeat(1,1fr);
    }
}